@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProjectEcommerce.Models.EF.Account
 <div style="height:300px">
<center>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    if (Session["Id"].ToString() == "1")
    {
        <div><h3 style="text-align:center">Tài khoản khách hàng</h3> </div>
    }
    else
    {
        <div><h3 style="text-align:center">Tài khoản Admin</h3> </div>
    }
    <div class="form-group">
                                                 
        <i style="font-size:20px" class="fa fa-envelope"></i>
        @Html.TextBoxFor(a => a.Email, null, new { @class = "form-control form-control-user", @placeholer = "Nhập email", @style = "padding:10px; display: inline-block; width:395px" })
    </div>
    <div class="form-group">
        <i style="font-size:20px" class="fa fa-key"></i>

        @Html.PasswordFor(a => a.PassWord, new { @class = "form-control form-control-user", @placeholer = "Vui lòng nhập mật khẩu của bạn", @style = "padding:10px; display: inline-block; width:395px" })
    </div>
    <div class="form-group">

        @Html.TextBoxFor(a => a.Role, new { @class = "form-control form-control-user", @type = "hidden", @Value = int.Parse(Session["Id"].ToString())})
    </div>
    <button style="width:400px" type="submit" class="btn btn-primary btn-user btn-block">
        Đăng nhập
    </button>
    @*<input type="button" id="btnGoogleLogin" value="Login with Google" class="btn btn-success" />*@
 }

<div style="margin-top:30px">
    @Html.ValidationMessage("SessionLogin", "", new { @class = "text-danger" })<br />

</div>
</center>
 </div>


                                         
             
 